---
title: pre Tags Inside Haml Without Going Insane
category: Stupid Ruby Tricks
date: 2016/05/26
---

%p
  Stuffing some genius code inside
  %span.code.-inline&= '<pre>'
  tags?

%p
  Use a
  = link_to 'squiggly', 'https://infinum.co/the-capsized-eight/articles/multiline-strings-ruby-2-3-0-the-squiggly-heredoc'
  %span.code.-inline&= 'HEREDOC'
  \.

%pre.code
  :ruby
    ruby_code = <<~EOSS
        %h1 It's Ruby!

        :ruby
          my_ruby_code = <<~'EOS'
            next_level = [1, 2, 3].map do |i|
              i + 1
            end

            puts next_level.join(" ")
          EOS

        %pre= my_ruby_code
    EOSS

  %code= ruby_code
