.flexRow
  %section
    %h2 projects

    %ul
      %li= link_to 'sorting visualizations', 'sort'
      %li= link_to 'game of life 6', 'conway6'

  %section.contact
    %h2 contact

    %ul
      %li Quinton Harris
      %li @dznqbit
      %li quinton.harris@gmail.com

%section.blog
  %h2 about
  %p
    = image_tag 'under-construction.gif'
    you know how it is
    = image_tag 'under-construction.gif'

%section.articles
  %h2 blog

  - blog.articles[0...5].each do |article|
    %article
      %h3= link_to article.title, article.url, class: 'link'
      = article.body
